.navbar {
  width: calc(100% / 4);
  min-width: 300px;
  background-color: rgba(245, 222, 179, 0.151);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto 90px auto;
  border-radius: 25px;
}

.navbar > p {
  color: cornsilk;
  letter-spacing: 1px;
  padding: 12px;
}

.nav-actions {
  position: absolute;
  top: 3px;
  right: 36px;
}

.link {
  padding: 9px;
}

.linkImg {
  padding: 0px;
  background: #ffffff;
  border-radius: 50px;
  height: 36px;
}
